<div class="bgDiv" *ngIf="gameData.winner"></div>
<div *ngIf="gameData.winner" class="winnerContainer">
    <h2>{{ gameData.winner }} {{resources.won}}</h2>
    <input type="button" value="{{resources.close}}" (click)="close()">
</div>
<div class="options">
    <span>{{resources.numberRowCol}}</span>
    <input type="text" [(ngModel)]="gameData.dimension">
    <input type="button" value="{{resources.startGame}}" (click)="startGame()">
</div>
<div class="gameHistory">
    <span>{{resources.winningsX}} {{ gameData.winningsX }}</span><br>
    <span>{{resources.winningsO}} {{ gameData.winningsO }}</span>
</div>
<div class="board" [board]="createdBoard"></div><div class="clear"></div>
